.large-figure{
    font-size: 11em;

    /* 320px */
    /*line-height: 1.484em;*/

    /* 480px */
    line-height: 1.74375em;

    /* 360px */

    /* 640px */
    /*line-height: 3.562em;*/
    background-color: #81d8ff;
}

.mainview-header{
    height: 3.3em;
    background-color: #faf2cc;
}

.mainview-content{
    /*height: 16.225em;*/
}

#points{
    background-color: #ffe1e3;
}

.mainview-footer{
    height: 3.3em;
    background-color: burlywood;
}