.large-figure{
    font-size: 6em;
    /* 240px as default */
    line-height: 1.768em;
    background-color: #81d8ff;
}

.mainview-header{
    height: 3.285em;
    background-color: #faf2cc;
}

.mainview-content{
    height: 10.62em;
}

#points{
    background-color: #ffe1e3;
}

.mainview-footer{
    height: 3.285em;
    background-color: burlywood;
}

.upper-row{
    background-color: #de8db2;
}

.middle-row{
    background-color: #b9deca;
}

.lower-row{
    background-color: #98b0de;
}