div#main{
}

.large-figure{
    /* 160x240 */
    font-size: 6em;
    line-height: 1.768em;
}

.header{
    height: 3.285em;
}

.content{
    height: 10.62em;
}

.footer{
    height: 3.285em;
}

.spRow1 .spRow2 .spRow3 .spRow4{
}

.infoContent .afterSelectContent {
    font-size: 1em;
    line-height: 1em;
    height: 1em;
    margin: 1em;
}

.selectValue {
    font-size: 1em;
    line-height: 1.65em;
}

