body{
    background-color: #E7E7E7;
}
td{
    height: 200px;
}
.large-figure{
    /* 160x240 */
    font-size: 12em;
    line-height: 390px;
    background-color: magenta;
}

.header{
    height: 45px;
    background-color: yellow;
}

.content{
    height: 390px;
}

.footer{
    height: 45px;
    background-color: yellow;
}

.spRow1 .spRow2 .spRow3 .spRow4{
}

*.infoContent {
    margin-left: 1em;
    margin-right: 1em;
}

*.afterSelectContent {
    margin-left: 1em;
    margin-right: 1em;
}

.selectValue {
    font-size: 1em;
    line-height: 1.65em;
}

