body{
    background-color: #E7E7E7;
}

.large-figure{
    /* 160x240 */
    font-size: 12em;
    line-height: 390px;
    opacity: 1.0;
    color: #000000;
}

.header{
    height: 45px;
    /*background-color: yellow;*/
}

.content{
    height: 390px;
}

.footer{
    height: 45px;
    /*background-color: yellow;*/
}

.spRow1 .spRow2 .spRow3 .spRow4{
}

*.infoContent {
    margin-left: 1em;
    margin-right: 1em;
}

*.settingsContent {
    margin-left: 1em;
    margin-right: 1em;
}

.selectValue {
    font-size: 1em;
    line-height: 1.65em;
    color: #000000;
}

